CS2-HideTeammates.sln
src/bin/Debug/net8.0/CS2-HideTeammates.deps.json
src/bin/Debug/net8.0/CS2-HideTeammates.dll
src/bin/Debug/net8.0/CS2-HideTeammates.pdb
src/bin/Debug/net8.0/PlayerSettingsApi.dll
src/build/plugins/CS2-HideTeammates/CS2-HideTeammates.dll
src/build/plugins/CS2-HideTeammates/lang/en.json
src/CS2-HideTeammates.csproj
src/lang/en.json
src/lang/ru.json
src/obj/CS2-HideTeammates.csproj.nuget.dgspec.json
src/obj/CS2-HideTeammates.csproj.nuget.g.props
src/obj/CS2-HideTeammates.csproj.nuget.g.targets
src/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/obj/Debug/net8.0/CS2-Hide.E2273CB4.Up2Date
src/obj/Debug/net8.0/CS2-HideTeammates.AssemblyInfo.cs
src/obj/Debug/net8.0/CS2-HideTeammates.AssemblyInfoInputs.cache
src/obj/Debug/net8.0/CS2-HideTeammates.assets.cache
src/obj/Debug/net8.0/CS2-HideTeammates.csproj.AssemblyReference.cache
src/obj/Debug/net8.0/CS2-HideTeammates.csproj.CoreCompileInputs.cache
src/obj/Debug/net8.0/CS2-HideTeammates.csproj.FileListAbsolute.txt
src/obj/Debug/net8.0/CS2-HideTeammates.dll
src/obj/Debug/net8.0/CS2-HideTeammates.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net8.0/CS2-HideTeammates.GlobalUsings.g.cs
src/obj/Debug/net8.0/CS2-HideTeammates.pdb
src/obj/Debug/net8.0/CS2-HideTeammates.sourcelink.json
src/obj/Debug/net8.0/ref/CS2-HideTeammates.dll
src/obj/Debug/net8.0/refint/CS2-HideTeammates.dll
src/obj/project.assets.json
src/obj/project.nuget.cache
